{% load static %}
{% load humanize %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="https://res.cloudinary.com/duuzl8vye/image/upload/v1713024917/ssvrli6upjk8c5erc5ui.png" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta name="csrf-token" content="{{ csrf_token }}">
        
        <style>
          
          .anta-regular {
            font-family: "Anta", sans-serif;
            font-weight: 400;
            font-style: 30px;
          }
          .minisize-text{
            font-size: 10px;
          }
          .card:hover{
            transform: scale(1.05);
          } 
          .cards:hover{
            transform: scale(1.05);
          } 
          .fs-2:hover{
            transform: scaleX(2);
          }
          .img-30{
            max-height: 25rem;
            border-radius: 15px;
          }
          .hover-nav:hover{
            text-decoration: underline;
            color: red;
          }
          .product-card {
            position: relative;
        }
        
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity 0.3s;
        }
        
        .product-card:hover .overlay {
            opacity: 1;
        }
        
        .btn-primary {
            z-index: 1;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
        .container {
          
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          /* Thêm viền ngoài với độ dày 1px và màu sắc đen */
          border-radius: 15px;
        }
        #map {
          height: 500px;
          width: 100%;
        }
        </style>
    </head>
    <body>
      <ul class="nav bg-body-secondary justify-content-center ">
        <li class="nav-item">
          <a class="nav-link active font-monospace " aria-current="page" href="mailto:duong100008@donga.edu.vn"><i class="bi bi-envelope"></i> duong100008@donga.edu.vn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled me-5 font-monospace " aria-disabled="true">Miễn phí giao hàng cho đơn hàng trên 200k</a>
        </li>
        <li class="nav-item justify-content-end ms-5">
          <a class="nav-link active" aria-current="page" href="https://www.facebook.com/duongle08062002"><i class="bi bi-facebook"></i></a>
        </li>
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="#"><i class="bi bi-messenger"></i></a>
        </li>
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="https://zalo.me/0799457116"><img src="https://seeklogo.com/images/Z/zalo-logo-B0A0B2B326-seeklogo.com.png"  alt="" style="width:16px "></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="https://youtube.com/@DuongLeHuu-zg9bu?si=ALlQ5gqfsr7qlGFk"><i class="bi bi-youtube"></i></a>
      </li> 
      </ul>
        <div class = "container">
          <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid ">
              <a class="navbar-brand" href="/"><img src="https://res.cloudinary.com/duuzl8vye/image/upload/v1712757559/images/logosa_AyduYyU.png.png" alt="" style ="width:10rem"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>


              <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item mx-4">
                    <a class="nav-link hover-nav fw-bold active " aria-current="page" href="/">TRANG CHỦ</a>
                  </li>
                  <li class="nav-item mx-4">
                    <a class="nav-link hover-nav fw-bold" href="{% url 'products:all_products' %}">SẢN PHẨM</a>
                  </li>
                  <li class="nav-item mx-4">
                    <a class="nav-link hover-nav fw-bold" href="{% url 'introduce:introduces' %}">TIN TỨC</a>
                  </li>
                  <li class="nav-item mx-4">
                    <a class="nav-link hover-nav fw-bold" href="{% url 'introduce:contacts' %}">LIÊN HỆ</a>
                  </li>
                  
                </ul>

                <ul class="nav d-flex">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-search"></i></a>
                  </li>
                  <li class="nav-item">
                      {% if user.is_authenticated %}
                          <a class="nav-link" href="{% url 'cart:view_cart' %}"><i class="bi bi-cart3"></i></a>
                      {% else %}
                          <a class="nav-link" href="{% url 'users:login' %}"><i class="bi bi-cart3"></i></a> <!-- Liên kết đến trang đăng nhập -->
                      {% endif %}
                  </li>
              
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                          {% if user.is_authenticated %}
                              {{ user.username }} <!-- Hiển thị tên người dùng -->
                          {% else %}
                              <a href="{% url 'users:login' %}">Đăng Nhập</a> <!-- Liên kết đến trang đăng nhập -->
                          {% endif %}
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          {% if user.is_authenticated %}
                              <li><a class="dropdown-item" href="{% url 'users:logout' %}"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
                          {% endif %}
                      </ul>
                  </li>
              </ul>
              
               
              </div>
            </div>
          </nav>


              <div class = "row px-5 ">
                {% block content %}{% endblock %}
            </div>
        
        
        <div class= "container">
            <div class ="row ps-3 pe-3  pt-4">
            <div class = 'col-4 '>
                <h6>Chính sách</h6>
                  <nav class="nav flex-column">
                    <a class="nav-link" aria-current="page" href="#">Tìm kiếm</a>
                    <a class="nav-link" href="#">Giới thiệu</a>
                    <a class="nav-link" href="#">Chính sách đổi trả</a>
                    <a class="nav-link" href="#">Chính sách bảo mật</a>
                    <a class="nav-link" href="#">Điều khoản dịch vụ</a>
                    <a class="nav-link" href="#">Liên hệ</a>
                  </nav>
            </div>
            <div class = 'col-4 border-end border-start '>
                <h6>Hỗ Trợ</h6>
                <nav class="nav flex-column">
                    <a class="nav-link" aria-current="page" href="#">Tìm kiếm</a>
                    <a class="nav-link" href="#">Giới thiệu</a>
                    <a class="nav-link" href="#">Chính sách đổi trả</a>
                    <a class="nav-link" href="#">Chính sách bảo mật</a>
                    <a class="nav-link" href="#">Điều khoản dịch vụ</a>
                    <a class="nav-link" href="#">Liên hệ</a>
                </nav>
            </div>
            <div class = 'col-4 '>
                <h6>Thông tin liên hệ</h6>
                  <p>Đà Nẵng : Tầng 3, tòa nhà The Artemis, số 03 Lê Trọng Tấn

                   <br> Hotline: 0799457116
                    
                   <br> HCM: Lầu 6, 182 Lê Đại Hành, P.15, Quận 11, Tp.HCM
                    
                   <br> Email: huuduongle2002@gmail.com</p>
            </div>
            
        </div>
        <nav class="navbar  ">
            <div class="container bg-dark">
              <a class="font-monospace minisize-text" href="#">Create by : Le Huu Duong</a>
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link minisize-text" aria-current="page" href="https://www.facebook.com/duongle08062002"><i class="bi bi-facebook"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-monospace minisize-text" href="#"><i class="bi bi-whatsapp"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link font-monospace minisize-text" href="https://zalo.me/0799457116"><img src="https://seeklogo.com/images/Z/zalo-logo-B0A0B2B326-seeklogo.com.png"  alt="" style="width:8px "></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-monospace minisize-text" href="https://youtube.com/@DuongLeHuu-zg9bu?si=ALlQ5gqfsr7qlGFk"><i class="bi bi-youtube"></i></a>
                </li> 
              </ul>
            </div>
          </nav>
          <a style="display: scroll; position: fixed; bottom: 8px; right: 7px;" class = "fs-1" title="Back to Top" href="#"><i class="bi bi-arrow-up-circle"></i></a>
        </div>
        </div>
        <script src="" async defer></script>
        {% block script %}
        
        {% endblock  %}
    </body>
</html>