{% extends "base.html" %}
{% load static %}
{% block title %}
    Giới thiệu - MiPlan
{% endblock title %}
{% block content %} 
    <div class = "row mt-3">
        <div class="col-5 card border-0">
        <img src="https://file.hstatic.net/200000815931/file/gt_1_img_7cf2f846f91b4b1cbd3d557a3fdc6718.webp" class="rounded" alt="...">
        </div>
        <div class="col-7">
            <h1>Về công ty</h1>
            <p>Chào mừng đến với MiPlant, nơi mang đến cho bạn niềm đam mê và sự thư thái từ thế giới cây cảnh, cây xanh và cây mini để bàn. Với mong muốn lan tỏa vẻ đẹp tự nhiên và tạo nên một không gian sống xanh mát, chúng tôi tự hào là một trong những vườn ươm hàng đầu chuyên cung cấp các loại cây cảnh chất lượng cao. 
                Tại MiPlant, chúng tôi đặt trọng tâm vào việc chăm sóc và nuôi dưỡng từng cây trồng với tình yêu và sự chuyên nghiệp. Chúng tôi hiểu rằng cây cảnh không chỉ là những vật trang trí tuyệt đẹp, mà còn có thể mang lại nhiều lợi ích sức khỏe và tinh thần cho chủ nhân của chúng. Vì vậy, chúng tôi cam kết mang đến cho khách hàng những loại cây cảnh tươi đẹp, khỏe mạnh và được trồng theo phương pháp hữu cơ.</p>
        </div>
    </div>
    <div class = "row mt-3">
        
        <div class="col-7">
            <h1>Về con người</h1>
            <p>
                Plant không chỉ đơn thuần là một nơi để mua cây cảnh, mà còn là một cộng đồng yêu cây cảnh, nơi bạn có thể trao đổi kinh nghiệm và chia sẻ niềm đam mê với những người đam mê cây cảnh khác. Chúng tôi tổ chức các buổi workshop và sự kiện liên quan đến cây cảnh để mang đến cho bạn cơ hội học hỏi và giao lưu với những người có cùng sở thích. Đặc biệt, MiPlant
                cam kết với việc bảo vệ môi trường và phát triển bền vững. Chúng tôi ưu tiên sử dụng các phương pháp trồng cây hữu cơ và chất liệu tái chế trong việc sản xuất và đóng gói sản phẩm. Chúng tôi hy vọng rằng việc góp phần tạo ra một không gian sống xanh mát và thân thiện với môi trường sẽ truyền cảm hứng và khuyến khích mọi người tham gia vào cuộc sống xanh hơn. Tại MiPlant, 
                chúng tôi đặt trọng tâm vào việc chăm sóc và nuôi dưỡng từng cây trồng với tình yêu và sự chuyên nghiệp. Chúng tôi hiểu rằng cây cảnh không chỉ là những vật trang trí tuyệt đẹp, mà còn có thể mang lại nhiều lợi ích sức khỏe và tinh thần cho chủ nhân của chúng. Vì vậy, chúng tôi cam kết mang đến cho khách hàng những loại cây cảnh tươi đẹp, khỏe mạnh và được trồng theo phương pháp hữu cơ.
            </p>
        </div>
        <div class="col-5 card border-0">
            <img src="https://file.hstatic.net/200000815931/file/gt_2_img_d06f925ecb874bf8a42429c60fd60fc1.webp" class="rounded" alt="...">
            </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 my-5">
        <div class="col">
          <div class="card border-0 text-center">
            <img src="https://file.hstatic.net/200000815931/file/gt_3_img_1_ca98973849f642daa38c7bd08d1361f1.webp" class="card-img-top rounded rounded-4 " alt="...">
            <div class="card-body">
              <h5 class="card-title">Sản phẩm chất lượng tốt nhất</h5>
              <p class="card-text">
                Chất lượng vừa mang tính trừu tượng vừa mang tính cụ thể. Tính trừu tượng thông qua sự phù hợp, nó phản ánh mặt chủ quan của sản phẩm và phụ thuộc vào nhận thức của khách hàng</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 text-center">
            <img src="https://file.hstatic.net/200000815931/file/gt_3_img_2_f7b71a3cb88f41328b635cae8f32fbc3.webp" class="card-img-top rounded rounded-4 " alt="...">
            <div class="card-body">
              <h5 class="card-title">Chia sẻ kiến thức</h5>
              <p class="card-text">
                Chúng tôi cung cấp hướng dẫn chi tiết về cách tưới nước, cách bón phân, cách điều chỉnh ánh sáng và cách kiểm soát sâu bệnh để đảm bảo sự phát triển và trổ bông tốt nhất cho cây của bạn</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 text-center">
            <img src="https://file.hstatic.net/200000815931/file/gt_3_img_3_8969ddd315844b9d8235fa35b4632a60.webp" class="card-img-top rounded rounded-4 " alt="...">
            <div class="card-body">
              <h5 class="card-title">Bảo vệ môi trường</h5>
              <p class="card-text">
                Chúng tôi tổ chức các buổi workshop và sự kiện liên quan đến cây cảnh để mang đến cho bạn cơ hội học hỏi và giao lưu với những người có cùng sở thích</p>
            </div>
          </div>
        </div>
      </div>
    
{% endblock  %}